@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300&display=swap');

.App {
  position: relative;
  min-height: 100vh;
}

.custom-heading {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 100; /* Light */
  font-size: 50px;
  text-align: center;
}
.background-container {
  background-image: url('../../../assets/sfondo.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}
.custom-button {
  left: 90px;
  width: 80px;
  height: 51px;
  background: #2b87ba 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.custom-textbox {
  top: 100px;
  left: 30px;
  width: 350px;
  height: 41px;
  border: 3px solid #2b87ba;
  border-radius: 25px;
  opacity: 1;
  padding: 10px;
  font-size: 16px;
}
